#carousel {
  .carousel-item {
    img {
      width: 100%;
      height: 70vh;
    }
  }
  .carousel-indicators {
    li {
      width: 8px;
      height: 8px;
      margin-right: 10px;
      border-radius: 50%;
    }

    li.active {
      background-color: #ff8d1b;
    }
  }
}
