* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

#header__pc {
  padding-top: 5px;
}

#header__pc .header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 5px;
}

#header__pc .header__top .header__logo {
  cursor: pointer;
}

#header__pc .header__top .header__search__bar {
  margin-left: 50px;
  background-color: #f2f3f5;
  border-radius: 2px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 50px;
}

#header__pc .header__top .header__search__bar input {
  outline: none;
  border: none;
  background: none;
}

#header__pc .header__top .header__search__bar input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#header__pc .header__top .header__search__bar i {
  color: #ff8d1b;
  padding: 11px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#header__pc .header__top .header__search__bar i:hover {
  color: white;
  background: #ff8d1b;
  cursor: pointer;
}

#header__pc .header__top .header__user {
  font-weight: 600;
}

#header__pc .header__top .header__login {
  margin-left: 50px;
}

#header__pc .header__top .header__login a {
  color: black;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#header__pc .header__top .header__login a:hover {
  color: #ff8d1b;
}

#header__pc .header__bottom {
  background-color: #ff8d1b;
  padding: 10px 0;
  color: white;
}

#header__pc .header__bottom ul {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#header__pc .header__bottom ul li {
  list-style: none;
  margin: 0 20px;
  cursor: pointer;
}

#header__pc .header__bottom ul li a {
  font-weight: 500;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#header__pc .header__bottom ul li a:hover {
  color: black;
}

#header__pc .header__bottom ul li a.active {
  color: black;
}

#header__mobile .header__mobile__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

#header__mobile .header__mobile__content .header__mobile__left img {
  width: 50%;
  height: auto;
}

#header__mobile .header__mobile__content .header__mobile__left a {
  margin-left: 10px;
  color: black;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#header__mobile .header__mobile__content .header__mobile__left a:hover {
  color: #ff8d1b;
}

#header__mobile .header__mobile__content .header__mobile__right a {
  text-decoration: none;
  cursor: pointer;
}

#header__mobile .header__mobile__content .header__mobile__right a i {
  display: block;
  margin-top: 20px;
  font-size: 2rem;
}

#header__mobile .header__mobile__content .header__mobile__right .dropdown-menu {
  width: 100%;
  text-align: right;
  padding-right: 20px;
}

#header__mobile .header__mobile__content .header__mobile__right .dropdown-menu .dropdown-item {
  margin-top: 10px;
}

#header__mobile .header__mobile__content .header__mobile__right .dropdown-menu .dropdown-item input {
  outline: none;
  border: none;
  background: none;
}

#header__mobile .header__mobile__content .header__mobile__right .dropdown-menu .dropdown-item input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#header__mobile .header__mobile__content .header__mobile__right .dropdown-menu .dropdown-item i {
  color: #ff8d1b;
  padding: 11px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#header__mobile .header__mobile__content .header__mobile__right .dropdown-menu .dropdown-item i:hover {
  color: white;
  background: #ff8d1b;
  cursor: pointer;
}

#carousel .carousel-item img {
  width: 100%;
  height: 70vh;
}

#carousel .carousel-indicators li {
  width: 8px;
  height: 8px;
  margin-right: 10px;
  border-radius: 50%;
}

#carousel .carousel-indicators li.active {
  background-color: #ff8d1b;
}

#new-in {
  margin-top: 40px;
}

.title {
  display: inline-block;
  width: 25%;
  font-size: 18px;
  margin-bottom: 40px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  color: #ec7532;
  border-bottom: 1px solid #00000042;
  position: relative;
  padding-bottom: 15px;
}

.title:after {
  content: "";
  display: block;
  width: 100%;
  background-color: #ec7532;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#new-in .rating i {
  color: #fbbd61;
}

.slick-prev:before,
.slick-next:before {
  color: orange;
  font-size: 28px;
}

#new-in h3 {
  margin-top: 20px;
  font-size: 24px;
}

#new-in img {
  border-radius: 10px;
}

#new-in .movie__content {
  position: relative;
  height: 350px;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}

#new-in .movie__1 {
  background-image: url("./../images/movie-10.jpg");
}

#new-in .movie__2 {
  background-image: url("./../images/movie-11.jpg");
}

#new-in .movie__3 {
  background-image: url("./../images/movie-12.jpg");
}

#new-in .movie__4 {
  background-image: url("./../images/movie-13.jpg");
}

#new-in .listMovie img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

#new-in .listMovie .movie__hover {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  text-align: center;
  width: 100%;
  padding-top: 45%;
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#new-in .listMovie .movie__hover i {
  font-size: 20px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border: 1px solid white;
  border-radius: 50%;
  margin-bottom: 30px;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#new-in .listMovie .movie__hover i:hover {
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin-bottom: 40px;
}

#new-in .listMovie .movie__hover h2 {
  font-size: 13px;
  margin-bottom: 10px;
  cursor: pointer;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #fff;
}

#new-in .listMovie .movie__content::after {
  content: "";
  display: block;
  width: 0%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#fbbd61), to(#ec7532));
  background: linear-gradient(to right, #fbbd61, #ec7532);
  position: absolute;
  bottom: 0;
  left: -40%;
  -webkit-transform: skew(30deg);
          transform: skew(30deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#new-in .listMovie .movie__content:hover::after {
  width: 180%;
}

#new-in .listMovie .movie__content:hover .movie__hover {
  opacity: 1;
}

#time {
  margin-bottom: 20px;
}

#time ul li a {
  font-size: 1rem;
  position: relative;
  display: block;
  padding: 10px 30px 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #4a4a4a;
}

#time ul li .nav-link {
  border: none;
}

#time ul li .nav-link.active {
  color: #ec7532;
  position: relative;
}

#time ul li .nav-link.active::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: "";
  height: 3px;
  display: block;
  background: -webkit-gradient(linear, left top, right top, from(#fbbd61), to(#ec7532));
  background: linear-gradient(to right, #fbbd61, #ec7532);
  -webkit-box-shadow: 0 0 20px 0 #fbbd61;
          box-shadow: 0 0 20px 0 #fbbd61;
  width: 100%;
}

#time ul li::after {
  content: "";
  height: 3px;
  display: block;
  background: -webkit-gradient(linear, left top, right top, from(#fbbd61), to(#ec7532));
  background: linear-gradient(to right, #fbbd61, #ec7532);
  -webkit-box-shadow: 0 0 20px 0 #fbbd61;
          box-shadow: 0 0 20px 0 #fbbd61;
  width: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#time ul li:hover::after {
  width: 100%;
}

#buy__tickets {
  width: 50%;
  margin: 80px auto;
  background-color: #ffa954;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (max-width: 700px) {
  #buy__tickets {
    width: 90%;
  }
}

#buy__tickets > h3 {
  margin-bottom: 40px;
  color: #075467;
}

#buy__tickets .form-group {
  width: 50%;
  margin: 20px auto;
}

#buy__tickets .buy__tickets__btn button {
  background: #48b5ce;
  color: white;
  font-weight: 600;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#buy__tickets .buy__tickets__btn button:hover {
  background: #296876;
}

footer {
  background-color: black;
  padding: 30px;
  margin-top: 50px;
}

footer .footer__content {
  margin: 10px;
}

footer .footer__content h2 {
  color: #ff8d1b;
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: bold;
  margin: 10px 0;
}

footer .footer__content p {
  line-height: 2rem;
  font-size: 1rem;
  color: white;
  margin: 10px 0;
  letter-spacing: 1px;
}

footer .footer__content ul li {
  list-style: none;
  display: inline;
  margin: 0px 10px;
}

footer .footer__content ul li a {
  color: white;
}

footer .footer__content ul li a i {
  width: 30px;
  height: 30px;
  border: 1px solid;
  text-align: center;
  line-height: 30px;
  font-size: 1.2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer .footer__content ul li a:hover i {
  color: #ff8d1b;
}

footer .footer__content input[type="email"] {
  color: #000;
  padding: 0.7em;
  border: 1px solid #000;
  font-size: 13px;
  width: 100%;
  background: white;
  outline: none;
  letter-spacing: 1px;
  width: 75%;
}

footer .footer__content button {
  width: 40%;
  border-radius: 5px;
  font-size: 1rem;
  margin: 10px 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer .footer__content button:hover {
  background-color: #fff;
}

footer .footer__author p {
  color: white;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 20px;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

footer .footer__content .textbox {
  height: 3.5rem;
  border-bottom: 1px solid white;
}

.btn-custom {
  background-color: #ff8d1b;
}
/*# sourceMappingURL=style.css.map */